// Common variables

$spacing-xxxs:                  2px;
$spacing-xxs:                   4px;
$spacing-xs:                    8px;
$spacing-s:                     2 * $spacing-xs;
$spacing-m:                     3 * $spacing-xs;
$spacing-l:                     4 * $spacing-xs;
$spacing-xl:                    5 * $spacing-xs;
$spacing-xxl:                   6 * $spacing-xs;

$font-size-xs:                  10px;
$font-size-s:                   12px;
$font-size-m:                   14px;
$font-size-l:                   16px;
$font-size-xl:                  20px;
$font-size-xxl:                 32px;
$font-size-xxxl:                42px;
